<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://img.icons8.com/external-others-amoghdesign/24/000000/external-aadhaar-soleicons-fill-vol-1-others-amoghdesign.png"
        class="img-fluid logo"
      />Aadhar-App
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signUp" routerLinkActive="active"
            >Signup</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage" routerLinkActive="active"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
